<h3> View Candidate Details</h3>
<div>
<div>
        <label> <b>Rec Id: </b></label> {{candidate.recId}}
    </div>
    <div>
        <label> <b> Candidate No : </b></label> {{candidate.candidateNo}}
    </div>
    <div>
        <label> <b> Candidate Name: </b></label> {{candidate.candidateName}}
    </div>
    <div>
        <label> <b> Score : </b></label> {{candidate.score}}
    </div>
<div>
        <label> <b>Rank : </b></label> {{candidate.rank}}
    </div>
<div>
        <label> <b>Update Date: </b></label> {{candidate.updateDate}}
    </div>
</div>
